.about {
  overflow: scroll;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-black-700);
}

.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 50px;
}

.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}

.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0px;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}

.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}

.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

h3 {
  color: var(--text-black-900);
}

.about .about-content .education {
  flex: 0 0 60%;
  margin-top: 30px;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  width: 100%;
  position: relative;
}
/* media query */

@media (max-width: 898px) {
  .skills {
    flex: 0 0 100%;
    min-width: 100%;
  }
  .skills img {
    height: 80% !important;
  }
}

@media (max-width: 801px) {
  .personal-info {
    flex: 0 0 100%;
    min-width: 100%;
  }
  .skills {
    flex: 0 0 100%;
    max-width: 50%;
  }
  .education {
    flex: 0 0 100%;
    min-width: 100%;
  }
}

@media (max-width: 500px) {
  .education {
    flex: 0 0 100% !important;
    min-width: 100%;
  }
  .timeline-item {
    flex: 0 0 100% !important;
    min-width: 100%;
  }
  .info-item {
    flex: 0 0 100% !important;
    min-width: 90%;
  }
}

/* theme 1 */

.about-text span.color-1 {
  color: var(--color-1) !important;
}

.section-title.color-1 h2::after,
.section-title.color-1 h2::before {
  background: var(--color-1) !important;
}

/* theme 2 */

.about-text span.color-2 {
  color: var(--color-2) !important;
}

.section-title.color-2 h2::after,
.section-title.color-2 h2::before {
  background: var(--color-2) !important;
}

/* theme 3 */

.about-text span.color-3 {
  color: var(--color-3) !important;
}

.section-title.color-3 h2::after,
.section-title.color-3 h2::before {
  background: var(--color-3) !important;
}

/* theme 4 */

.about-text span.color-4 {
  color: var(--color-4) !important;
}

.section-title.color-4 h2::after,
.section-title.color-4 h2::before {
  background: var(--color-4) !important;
}
