.aside {
  width: 270px;
  background-color: var(--bg-black-100);
  position: fixed;
  padding: 30px;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  border-right: 2px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

@media (max-width: 1212px) {
}

ul li {
  list-style: none;
  font-size: 17px;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  pad: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
  color: var(--skin-color);
}

.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: -10px;
  left: -15px;
}

.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: -5px;
  right: -5px;
}

.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  position: fixed;
  left: 10px;
  top: 6px !important;
  top: 20px;
  border-radius: 5px;
  background-color: var(--bg-black-100);
  text-align: center;
}

.nav-toggler:hover {
  cursor: pointer;
}

.aside .nav-toggler span {
  height: 2.5px;
  width: 18px;
  background-color: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggler span::before {
  content: "";
  height: 3px;
  width: 18px;
  background-color: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggler span::after {
  content: "";
  height: 3px;
  width: 18px;
  background-color: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid var(--bg-black-50);
  display: block;
  color: var(--text-black-900);
  padding: 5px 15px;
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a svg {
  margin-right: 15px;
}

/* theme 1  */

.aside .logo a.color-1::after,
.aside .logo a.color-1::before {
  border-color: var(--color-1) !important;
}

.aside .logo a.color-1 span {
  color: var(--color-1) !important;
}

.aside .logo a span.color-1 {
  color: var(--color-1) !important;
}

.active.color-1 {
  color: var(--color-1) !important;
}

.nav-toggler span.color-1::after,
.nav-toggler span.color-1::before,
.nav-toggler span.color-1 {
  background-color: var(--color-1) !important;
}

/* theme 2 */

.aside .logo a.color-2::after,
.aside .logo a.color-2::before {
  border-color: var(--color-2) !important;
}

.aside .logo a.color-2 span {
  color: var(--color-2) !important;
}

.aside .logo a span.color-2 {
  color: var(--color-2) !important;
}

.active.color-2 {
  color: var(--color-2) !important;
}

.nav-toggler span.color-2::after,
.nav-toggler span.color-2::before,
.nav-toggler span.color-2 {
  background-color: var(--color-2) !important;
}

/* theme 3 */

.aside .logo a.color-3::after,
.aside .logo a.color-3::before {
  border-color: var(--color-3) !important;
}

.aside .logo a.color-3 span {
  color: var(--color-3) !important;
}

.aside .logo a span.color-3 {
  color: var(--color-3) !important;
}

.active.color-3 {
  color: var(--color-3) !important;
}

.nav-toggler span.color-3::after,
.nav-toggler span.color-3::before,
.nav-toggler span.color-3 {
  background-color: var(--color-3) !important;
}

/* theme 4  */

.aside .logo a.color-4::after,
.aside .logo a.color-4::before {
  border-color: var(--color-4) !important;
}

.aside .logo a.color-4 span {
  color: var(--color-4) !important;
}

.aside .logo a span.color-4 {
  color: var(--color-4) !important;
}

.active.color-4 {
  color: var(--color-4) !important;
}
.nav-toggler span.color-4::after,
.nav-toggler span.color-4::before,
.nav-toggler span.color-4 {
  background-color: var(--color-4) !important;
}
