.section {
  background-color: var(--bg-black-900);
  display: block;
  position: fixed;
  left: 270px;
  padding: 0px 30px;
  height: 100vh;
  top: 0px;
  right: 0px;
  opacity: 1;
  transition: all 0.25s ease-in;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1212px) {
  .section {
    overflow: scroll;
    left: 0px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  background-color: var(--skin-color);
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  background-color: var(--skin-color);
  transition: all 0.2s ease;
  margin-bottom: 5vh;
}

.btn:hover {
  transform: scale(1.05);
}

.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0px;
}

h3.hello span {
  font-family: "Clicker Script", cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}

h3.my-profession {
  font-size: 30px;
  margin: 30px 0px;
}

.typing {
  color: var(--skin-color);
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}

@media (max-width: 500px) {
  .home-info p {
    min-width: 70vw;
    margin-top: 15px;
  }
  .my-profession {
    height: 100px;
    margin-bottom: 10px;
    /* background-color: red; */
    min-width: 70vw;
  }
}

.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  height: max-content;
  max-width: max-content;
  text-align: center;
  position: relative;
  margin-left: 5vw;
}
@media (max-width: 910px) {
  .home-img {
    display: none;
  }
}

.home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  right: -40px;
  bottom: -35px;
  border-bottom: 8px solid var(--skin-color);
  border-right: 8px solid var(--skin-color);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  left: -40px;
  top: -35px;
  border-top: 8px solid var(--skin-color);
  border-left: 8px solid var(--skin-color);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.home .home-img img {
  border: 2px solid lightgray;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}

/* theme 1 */

.btn.color-1 {
  background-color: var(--color-1);
}

.home-img.color-1::after,
.home-img.color-1::before {
  border-color: var(--color-1) !important;
}

.typing.color-1 {
  color: var(--color-1) !important;
}

.name.color-1 {
  color: var(--color-1) !important;
}

/* theme 2  */

.btn.color-2 {
  background-color: var(--color-2);
}

.home-img.color-2::after,
.home-img.color-2::before {
  border-color: var(--color-2) !important;
}

.typing.color-2 {
  color: var(--color-2) !important;
}

.name.color-2 {
  color: var(--color-2) !important;
}

/* theme 3  */

.btn.color-3 {
  background-color: var(--color-3);
}

.home-img.color-3::after,
.home-img.color-3::before {
  border-color: var(--color-3) !important;
}

.typing.color-3 {
  color: var(--color-3) !important;
}

.name.color-3 {
  color: var(--color-3) !important;
}

/* theme 4  */

.btn.color-4 {
  background-color: var(--color-4);
}

.home-img.color-4::after,
.home-img.color-4::before {
  border-color: var(--color-4) !important;
}

.typing.color-4 {
  color: var(--color-4) !important;
}

.name.color-4 {
  color: var(--color-4) !important;
}
